// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/* h1 Home */

.h1__home {
  margin-top: 110px;
}


/* Home map */

.home__map {
    border: 0;
    margin: 2% auto;
    border-radius: 0.2em;
}

.home__map-paragraph {
  margin: 0 auto;
  margin-left: 1%;
  margin-right: 1%;
  color: $black-general;
}

.home__map-paragraph-bold {
  font-weight:700;
  text-decoration: underline;
}

.home__map-paragraph-span {
  color: $bordeaux-general;
}


.principale_map {
    padding: 10px 30px 30px 30px;
    iframe{
        min-height: 350px;
        height:100%;
        width:100%;
        }
    }
    
    img {
      text-align: center;
    }
    
    .iframe {
        height:100%;
        width:100%;
    }
    
    