// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// BUTTONS page around-gite
// Link buttons
/*

// Make a button look and behave like a link
.btn-link {
    font-weight: $font-weight-normal;
    color: $link-color;
    text-decoration: $link-decoration;
  
    @include hover() {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  
    &:focus,
    &.focus {
      text-decoration: $link-hover-decoration;
      box-shadow: none;
    }
  
    &:disabled,
    &.disabled {
      color: $btn-link-disabled-color;
      pointer-events: none;
    }
  
    // No need for an active state here
  }
  
  
  //
  // Button Sizes
  //
  
  .btn-lg {
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
  }
  
  .btn-sm {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
  }
  
  
  //
  // Block button
  //
  
  .btn-block {
    display: block;
    width: 100%;
  
    // Vertically space out multiple block buttons
    + .btn-block {
      margin-top: $btn-block-spacing-y;
    }
  }
  
  // Specificity overrides
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    &.btn-block {
      width: 100%;
    }
  }*/


// BUTTONS retour home et infoplus - page AROUND GITE ========================

/* BOUTON RETOUR HOME - bouton liseré or, texte majuscule or */
.button-home {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px #cfbb49 solid;
    /*background-color: #cfbb49;*/
  padding: 8px 30px;
  border-radius: 30px;
  color: #4f0909;
  text-decoration: none;
  margin-top: 45px;
  margin-bottom: 15px;
  }
  /* effet survol */
  .button-home:hover {
  border: 2px #cfbb49 solid;
    background-color: #cfbb49;
  padding: 8px 30px;
  border-radius: 30px;
  color: #4f0909;
  text-decoration: none;
  }
  /*fin BOUTON RETOUR HOME */
  
  /* BOUTON SAVOIR PLUS - bouton liseré or, texte majuscule or */
  .button-infoplus {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px #cfbb49 solid;
    /*background-color: #cfbb49;*/
  padding: 8px 28px;
  margin-bottom: 15px;
  border-radius: 30px;
  color: #4f0909;
  text-decoration: none;
  }
  /* effet survol */
  .button-infoplus:hover {
  border: 2px #cfbb49 solid;
    background-color: #cfbb49;
  padding: 8px 28px;
  border-radius: 30px;
  color: #4f0909;
  text-decoration: none;
  }
  /*fin BOUTON SAVOIR PLUS */
  
  /* place les boutons au centre d'un article */
  .button-center {
    text-align: center;
    padding-top: 24px;
  }
  /* place les boutons au centre de la page, pour les boutons retour */
  .page-center {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  