/* ============================================================================
  navbar
   ============================================================================ */

/* Couleur du background de la navbar */
.navbar {
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    display: flex;
    background-color: $bordeaux-general;
    overflow: hidden;
    object-fit: cover;
    max-width: 100%;
  }
  
  /* Couleur des liens à l'intérieur de la barre de nav */
  .navbar a {
    color: #ffffff;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Couleur des liens avec le curseur passé dessus */
  .navbar a:hover {
    background-color: $black-general;
    color: rgb(255, 255, 255);
  }
  
  /* Couleur du lien (la page sur laquelle le visiteur se trouve) */
  .navbar a.active {
    background-color: $yellow-general;
    color: $black-general;
  }


  /* Responsive Hamburger Menu */

  @media screen and (min-width: 900px) {
    .hamburger-menu, #menu__toggle, .menu__button, .menu__box, .menu__item {
      display: none;
    }
  }

  @media screen and (max-width: 900px) {
    header, .navbar, .overlay {
      display: none;
    }
  }

  
  #menu__toggle {
    opacity: 0;
    position: sticky;
  }
  #menu__toggle:checked + .menu__button > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__button > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__button > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__button > span,
  .menu__button > span::before,
  .menu__button > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $yellow-general;
    transition-duration: .25s;
  }
  .menu__button > span::before {
    content: '';
    top: -8px;
  }
  .menu__button > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    position: absolute;
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
